<div class="panel panel-primary">
    <div class="panel-header" align="center"><h3>Contact Us</h3></div>
    <hr>
    <div class="panel-body">
        <ul class="list-group">
             <li class="list-group-item"><p><h3><span class=" label label-danger glyphicon glyphicon-phone">Phone:</span></h3></p></li>
             <li class="list-group-item"><p><h3><span class="glyphicon glyphicon-retweet label label-info">Twitter:</span></h3></p></li>
             <li class="list-group-item"><p><h3><span class="glyphicon glyphicon-facebook label label-info">Facebook:</span></h3></p></li>
        </ul>
    </div>
</div>